

---Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь.

In [8]:
import math
shape = str(input("Введите название фигуры на выбор: тр, пр, кр. "))
match shape:
  case "тр":
    a = float (input("Введите a. "))
    h = float (input("Введите h. "))
    print({
        "треугольник": (a*h)/2
    })
  case "пр":
    a = float (input("Введите a. "))
    b = float (input("Введите b. "))
    print({
      "прямоугольник": a*b
    })
  case "кр":
    r = float (input("Введите r. "))
    print({
      "круг": math.pi*r**2
    })

Введите название фигуры на выбор: тр, пр, кр. кр
Введите r. 1
{'круг': 3.141592653589793}

Написать программу, которая на вход получает два числа и
операцию, которую к ним нужно применить. Должны быть реализованы
следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
степень.

In [9]:
a = float (input("Введите первое число: "))
b = float (input("Введите второе число: "))
operation = input("Введите операцию (+, -, /, //, abs, pow): ")

match operation:
    case '+':
        result = a + b
    case '-':
        result = a - b
    case '/':
        if b != 0:
            result = a / b
        else:
            result = "Ошибка: деление на ноль"
    case '//':
        if b != 0:
            result = a // b
        else:
            result = "Ошибка: деление на ноль"
    case 'abs':
        result = abs(a), abs(b)

print(result)

Введите первое число: 3
Введите второе число: 4
Введите операцию (+, -, /, //, abs, pow): +
7.0

Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [12]:
numbers = []
sum1 = 0
sum2 = 0

while sum1 != 0 or len(numbers) == 0:
    num = int(input("Введите число: "))
    numbers.append(num)
    new = num**2
    sum2 += new
    sum1 += num

print("Сумма квадратов всех введённых чисел:", sum2)

Введите число: 1
Введите число: 1
Введите число: -2
Сумма квадратов всех введённых чисел: 6

Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [13]:
N = int(input("Введите число N: "))

result = []
num = 1

while len(result) < N:
    result.extend([num] * num)
    num += 1

result = result[:N]

print(*result)

Введите число N: 7
1 2 2 3 3 3 4

Даны два списка:
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.

In [14]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

result = {}

for a, b in zip(A, B):
    if b in result:
        result[b] += a
    else:
        result[b] = a

print(result)

{'a': 17, 'b': 11, 'c': 17}

Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.
Использовать метод info().

In [19]:
import pandas as pd

from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)

df = pd.DataFrame(data=data.data, columns=data.feature_names)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

Узнать, есть ли пропущенные значения, используя isna().sum()

In [20]:
df.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [18]:
df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

Узнать максимальное и минимальное значения медианной
стоимости дома

In [26]:
print(df['MedInc'].min())
print(df['MedInc'].max())

0.4999
15.0001

Используя метод apply(), вывести на экран название признака и его
среднее значение.

In [29]:
mean_values = df.apply(lambda x: x.mean())

for feature, mean_value in mean_values.items():
    print(f"Название: {feature}, ср. знач.: {mean_value}")

Название: MedInc, ср. знач.: 3.8706710029069766
Название: HouseAge, ср. знач.: 28.639486434108527
Название: AveRooms, ср. знач.: 5.428999742190376
Название: AveBedrms, ср. знач.: 1.096675149606208
Название: Population, ср. знач.: 1425.4767441860465
Название: AveOccup, ср. знач.: 3.0706551594363742
Название: Latitude, ср. знач.: 35.63186143410853
Название: Longitude, ср. знач.: -119.56970445736432